azure-core==1.32.0
azure-storage-blob==12.25.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cramjam==2.9.1
cryptography==44.0.2
fastparquet==2024.11.0
fsspec==2025.3.0
greenlet==3.1.1
idna==3.10
isodate==0.7.2
numpy==2.2.4
packaging==24.2
pandas==2.2.3
polars==1.26.0
psycopg2-binary==2.9.10
pyarrow==19.0.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
SQLAlchemy==2.0.39
SQLAlchemy-Utils==0.41.2
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
